@page "/Kontakt"

@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager _navigationManager


@code {
    private List<Kunde> kunden = new List<Kunde>();
    private Kunde kunde = new Kunde();

    protected override async Task OnInitializedAsync()
    {
        kunden = await Http.GetFromJsonAsync<List<Kunde>>("https://localhost:7076/api/kunden");

        if (localStorage.ContainKey("kunde"))
            kunde = localStorage.GetItem<Kunde>("kunde");
        else
            _navigationManager.NavigateTo("/");

        if (kunde != null && !kunden.Any(k => k.Code == kunde.Code))
            _navigationManager.NavigateTo("/");
    }

    public class Kunde
    {
        public int Idkunde { get; set; }
        public string Code { get; set; }
        public int Treuepunkte { get; set; }
    }
}



<h3>Kontakt</h3>

<h4>Kundenservice</h4>
<p>
    Für Anfragen, Hilfe oder Beschwerden wenden Sie sich bitte an:
    <br />
    <a href="mailto:yummy4friends@gmail.com">yummy4friends@gmail.com</a>
</p>

<h4>Adresse</h4>
<p>
    <strong>Yummy Kitchen</strong>
    <br />
    Meidlinger Hauptstraße 49
    <br />
    1120 Wien
</p>

@code {

}
