@page "/Feedback"

<body>
    <div class="container col-lg-5 col-md-9 col-sm-12 d-flex flex-column " id="content">
<<<<<<< HEAD:Shared/Feedback/Feedback.razor
        
        <h4 for="feedback">Ihr Feedback: </h4>
        <center>
        <textarea class="form-control" rows="10" cols="15" id="feedback" name="text"></textarea>
        
 
=======
        <h4 for="feedback">Ihr Feedback: </h4>
        <textarea class="form-control" rows="10" id="feedback" name="text"></textarea>
        
        <div class="button">
>>>>>>> dev:src/y4f/Shared/Feedback/Feedback.razor
            <br>
            <form id="button1" action="FBestätigung">
                <input type="submit" value="Absenden" class="btn">
            </form>
<<<<<<< HEAD:Shared/Feedback/Feedback.razor
        </center>
=======
        </div>

>>>>>>> dev:src/y4f/Shared/Feedback/Feedback.razor
    </div>

</body>
@code {

    
}
