@page "/Feedback"

@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager _navigationManager


@code {
    private List<Kunde> kunden = new List<Kunde>();
    private Kunde kunde = new Kunde();

    protected override async Task OnInitializedAsync()
    {
        // kunde login start
        kunden = await Http.GetFromJsonAsync<List<Kunde>>("https://localhost:7076/api/kunden");

        if (localStorage.ContainKey("kunde"))
            kunde = localStorage.GetItem<Kunde>("kunde");
        else
            _navigationManager.NavigateTo("/");

        if (kunde != null && !kunden.Any(k => k.Code == kunde.Code))
            _navigationManager.NavigateTo("/");
        // kunde login end
    }

    public class Kunde
    {
        int Idkunde { get; set; }
        public string Code { get; set; }
        public int Treuepunkte { get; set; }
    }
}

<body>
    <div class="container col-lg-5 col-md-9 col-sm-12 d-flex flex-column " id="content">
        <h4 for="feedback">Ihr Feedback: </h4>
        <textarea class="form-control" rows="10" id="feedback" name="text"></textarea>
        
        <div class="button">
            <br>
            <form id="button1" action="FBestätigung">
                <input type="submit" value="Absenden" class="btn">
            </form>
        </div>

    </div>

</body>