@page "/FBestätigung"

    <div class="container col-lg-5 col-md-9 col-sm-12 d-flex flex-column " id="content">
    <h4>Vielen Dank für Ihren Feedback. Durch Feedbacks können wir uns stets verbessern.<br></h4>
        
        <form id="button1" action="Startseite">
            <input type="submit" value="Zur Startseite" class="btn">
        </form>
    </div>

    

@code {

}
