@page "/Feedback"

<body>
    <div class="container col-lg-5 col-md-9 col-sm-12 d-flex flex-column " id="content">
        
        <h4 for="feedback">Ihr Feedback: </h4>
        <center>
        <textarea class="form-control" rows="10" cols="15" id="feedback" name="text"></textarea>
        
 
            <br>
            <form id="button1" action="FBestätigung">
                <input type="submit" value="Absenden" class="btn">
            </form>
        </center>
    </div>

</body>
@code {

    
}
