@page "/Feedback"

<body>
    <div class="container col-lg-5 col-md-9 col-sm-12 d-flex flex-column " id="content">
        <label for="feedback">Ihr Feedback: </label>
        <textarea class="form-control" rows="5" id="feedback" name="text"></textarea>
        
        <div class="button">
            <br>
            <form id="button1" action="FBestätigung">
                <input type="submit" value="Absenden" class="btn">
            </form>
        </div>

    </div>

</body>
@code {

    
}
