body, html {
    padding: 0px;
    margin: 0px;
    
}

p {
    text-align:center;
}

img {
    width: 20%;
    height: auto;
    padding: 5px;
}

.text {
    color: grey;
    font-size: 13px;
}

textarea {
    width: 100%;
}

#button1 {
    background-color: #89F9A5;
    border-radius: 50px;
    text-align: center;
}




