@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}
#content {
    background-color: #C7FFD1;
    padding: 5%;
    margin-top: 1%;
    border-radius: 10px;
    position: center;
}
.img {
    height: auto;
    width: 60%;
    margin: 4%;
    text-align: center;
}
form {
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: #89F9A5;
    text-align: center;
    width: 70%;
}
.form-control {
    width: 70%;
    border-radius: 50px;
}

#button1 {
    border-radius: 50px;
}


