@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    margin: 0px;
    padding: 0px;
}

#content {
    background-color: #C7FFD1;
    padding: 5%;
    margin-top: 1%;
    border-radius: 10px;

}

.img {
    height: auto;
    max-width: 100%;
    margin: 10%;
}
