@page "/RegistrierungA"
@layout Registrierung

<div class="container col-lg-5 col-md-9 col-sm-12 d-flex flex-column " id="content">
    <p>Benutzername:</p>
    <center>
        <input type="text" class="form-control" id="name" name="name">
    </center>
    <p>Passwort:</p>
    <center>
        <input type="text" class="form-control" id="password" name="password">
    </center>
    <center>
        
        <form id="button" action="Bestelluebersicht">
            <input type="submit" value="Login" class="btn"> 
        </form>
    </center>
</div>
@code {

}
