@page "/allergene"

<PageTitle>Allergene</PageTitle>

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-baqh {
        text-align: center;
        vertical-align: top
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top
    }
</style>

<table class="tg">
    <thead>
        <tr>
            <th class="tg-baqh" colspan="2">Allergeninformation<br>gemäß Codex-Empfehlung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-0lax">Kurzbezeichnung</td>
            <td class="tg-0lax">Buchstabencode</td>
        </tr>
        <tr>
            <td class="tg-0lax">glutenhaltiges Getreide</td>
            <td class="tg-baqh">A</td>
        </tr>
        <tr>
            <td class="tg-0lax">Krebstiere</td>
            <td class="tg-baqh">B</td>
        </tr>
        <tr>
            <td class="tg-0lax">Ei</td>
            <td class="tg-baqh">C</td>
        </tr>
        <tr>
            <td class="tg-0lax">Fisch</td>
            <td class="tg-baqh">D</td>
        </tr>
        <tr>
            <td class="tg-0lax">Erdnuss</td>
            <td class="tg-baqh">E</td>
        </tr>
        <tr>
            <td class="tg-0lax">Soja</td>
            <td class="tg-baqh">F</td>
        </tr>
        <tr>
            <td class="tg-0lax">Milch oder Laktose</td>
            <td class="tg-baqh">G</td>
        </tr>
        <tr>
            <td class="tg-0lax">Schalenfrüchte</td>
            <td class="tg-baqh">H</td>
        </tr>
        <tr>
            <td class="tg-0lax">Sellerie</td>
            <td class="tg-baqh">L</td>
        </tr>
        <tr>
            <td class="tg-0lax">Senf</td>
            <td class="tg-baqh">M</td>
        </tr>
        <tr>
            <td class="tg-0lax">Sesam</td>
            <td class="tg-baqh">N</td>
        </tr>
        <tr>
            <td class="tg-0lax">Sulfite</td>
            <td class="tg-baqh">O</td>
        </tr>
        <tr>
            <td class="tg-0lax">Lupinen</td>
            <td class="tg-baqh">P</td>
        </tr>
        <tr>
            <td class="tg-0lax">Weichtiere</td>
            <td class="tg-baqh">R</td>
        </tr>
    </tbody>
</table>