@page "/"

<PageTitle>Index</PageTitle>

<header>


</header>

<body>
    <div class="container col-md-6" id="content">
            <h1>Herzlich Willkommen!</h1>
            <img src="assets/Logo_new.png">
            <br><button type="button" class="btn btn-light">Zur Speisekarte</button>

    </div>
</body>