@page "/"

<PageTitle>Index</PageTitle>



<header>



</header>

<body>
    <div class="container col-md-6" id="content">
        <h1 class="center">Herzlich Willkommen!</h1>
            <img src="assets/Logo_new.png" class="center">
            <br><button type="button" class="btn btn-light center">Zur Speisekarte</button>

    </div>
</body>

