 @page "/"


<PageTitle>Yummy4Friends</PageTitle>


<body style='--blazor-load-percentage: 100%; --blazor-load-percentage-text: "100%"; background-color:#C7FFD5;'>
    <div class="container col-lg-6 col-md-9 col-sm-12 d-flex flex-column " id="content">
        <center><h1>Herzlich Willkommen!</h1></center>

        <img src="assets/Logo_new.png" class="img" title="logo image">

        
        <form action="Speisekarte">
            <input type="submit" value="Zur Speisekarte" class="btn" />
        </form>
        
    </div>

</body>

