@page "/"
@layout Startseite

<PageTitle>Yummy4Friends</PageTitle>

<header>
</header>

<body>
    <div class="container col-md-6 col-sm-12 d-flex flex-column " id="content">
        <center><h2>Herzlich Willkommen!</h2></center>

            <img src="assets/Logo_new.png" class="img" title="logo image">
            
        <button type="button" class=" btn btn-light justify-content-center">Zur Speisekarte</button>

    </div>
</body>

