@page "/"
@layout Startseite

<PageTitle>Yummy4Friends</PageTitle>


<body style='--blazor-load-percentage: 100%; --blazor-load-percentage-text: "100%";'>
    <div class="container col-lg-6 col-md-9 col-sm-12 d-flex flex-column " id="content">
        <center><h1>Herzlich Willkommen!</h1></center>

        <img src="assets/Logo_new.png" class="img" title="logo image">
        <form action="Speisekarte">
            <button href="Kontoverwaltung.razor" type="button" class=" btn btn-light justify-content-center">Zur Speisekarte</button>
        </form>
        
    </div>

</body>