

img {
    width: 15%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

button {
    background-color: #89f9a5;
}

    button:after {
        content: 'Konto deaktivieren';
        display: block;
    }

    button:focus:after,
    button:active:after {
        content: 'Konto aktivieren';
        display: block;
    }

    button::after {
        content: 'Konto aktivieren';
        display: block;
    }

    button:focus::after,
    button:active::after {
        content: 'Konto deaktivieren';
        display: block;
    }


