@page "/Kontoverwaltung"

<h3>Wichtige Informationen</h3> <br>



<div class="container">
    <h4>AccountID: #1234</h4>
    <h4>Ihr QR-Code: </h4><img src="assets/K-QR.png" class="img" title="logo image">
</div>
