@page "/Speisekarte"

<div class="d-flex justify-content-center">
    <table class="table table-light rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th scope="col">Chinesisch</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Nudeln</th>
            </tr>
            <tr>
                <th scope="row">Reis</th>
            </tr>
            <tr>
                <th scope="row">Nachspeisen</th>
            </tr>
        </tbody>
    </table>
    <div class="p-2"></div>
    <table class="table table-light rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th scope="col">Japanisch</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Sushi & Maki</th>
            </tr>
            <tr>
                <th scope="row">Bento</th>
            </tr>
            <tr>
                <th scope="row">Nachspeisen</th>
            </tr>
        </tbody>
    </table>
    <div class="p-2"></div>
    <table class="table table-light rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th scope="col">Getränke</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Alkoholfreie Getränke</th>
            </tr>
            <tr>
                <th scope="row">Alkoholische Getränke</th>
            </tr>
            <tr>
                <th scope="row">aaaah!</th>
            </tr>
        </tbody>
    </table>
    <div class="p-2"></div>
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Sonstiges</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Schnitzel</th>
            </tr>
            <tr>
                <th scope="row">Pommes</th>
            </tr>
            <tr>
                <th scope="row">Bowl</th>
            </tr>
        </tbody>
    </table>
</div>

@code {

}
