@page "/Speisekarte"

<div class="d-flex justify-content-center">
    <table class="table table-light overflow-hidden">
        <thead>
            <tr>
                <th scope="col">Chinesisch</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><a href="">Nudeln</a></td>
            </tr>
            <tr>
                <td scope="row"><a href="">Reis</a></td>
            </tr>
            <tr>
                <td class="lowest" scope="row"><a href="">Nachspeisen</a></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
        </tbody>
    </table>
    <div class="p-4 m-4"></div>
    <table class="table table-light overflow-hidden">
        <thead>
            <tr>
                <th scope="col">Japanisch</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><a href="">Sushi & Maki</a></td>
            </tr>
            <tr>
                <td scope="row"><a href="">Bento</a></td>
            </tr>
            <tr>
                <td class="lowest" scope="row"><a href="">Nachspeisen</a></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
        </tbody>
    </table>
    <div class="p-4 m-4"></div>
    <table class="table table-light overflow-hidden">
        <thead>
            <tr>
                <th scope="col">Getränke</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><a href="">Alkoholfreie Getränke</a></td>
            </tr>
            <tr>
                <td class="lowest" scope="row"><a href="">Alkoholische Getränke</a></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
        </tbody>
    </table>
    <div class="p-4 m-4"></div>
    <table class="table table-light overflow-hidden">
        <thead>
            <tr>
                <th scope="col">Sonstiges</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><a href="">Schnitzel</a></td>
            </tr>
            <tr>
                <td scope="row"><a href="">Pommes</a></td>
            </tr>
            <tr>
                <td class="lowest" scope="row"><a href="">Bowl</a></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
            <tr>
                <td class="lowest"><br></td>
            </tr>
        </tbody>
    </table>
</div>

@code {

}
