body, html {
    padding: 0px;
    margin: 0px;
    padding-bottom: 15px;
}

p {
    text-align:center;
}

img {
    width: 20%;
    height: auto;
    padding: 5px;
}

.text {
    color: grey;
    font-size: 13px;
}

.button {
    
    text-align: center;
}

#button1, #button2 {
    margin: 10px;
    display: inline-block;
}
