a {
    color: black;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}

h6 {
    color: grey;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #89f9a5;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
}
