a {
    color: grey;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}

h6 {
    color: grey;
}

.footer {
    
    background-color: #89f9a5;
}

    section {
    border-color: black;
    
}