a {
    color: grey;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}

h6 {
    color: grey;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

section {
    border-color: black;
    
}