@*<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"></section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="col-md-3 col-lg-6 col-xl-12 mx-auto mb-4">
                <center>
                    <h6 class="text-uppercase fw-bold mb-4">
                        <a href="">Kontakt</a> | <a href="">Impressum</a> | <a href="">Datenschutzerklärung</a> | <a href="">Cookies</a>
                    </h6>
                </center>
            </div>
        </div>
    </section>
</footer>*@

<div class="footer">
    <div class="container">
    <a href="">Kontakt</a> |
    <a href="">Impressum</a> |
    <a href="">Datenschutzerklärung</a> |
    <a href="">Cookies</a>
    </div>
</div>
@code {

}
