@page "/Kontoverwaltung"

<h3>Wichtige Informationen</h3> <br>



<div class="container mt-auto">
    <h4>AccountID: #1234</h4>
    <h4>Ihr QR-Code:  </h4>
    <img src="assets/K-QR.png" class="img" title="logo image">
    
    <p>Ihr Konto wird 30 Tage nach der Deaktivierung unwiderruflich gelöscht.</p>
    <button class="btn" type="button" onclick="@ChangeButton" id="button1">@button1</button>
    
</div>

<br><br>

@code {
    bool changeButtonBool { get; set; } = true;

    string button1 => changeButtonBool ? "Konto deaktivieren" : "Konto aktivieren";

    void ChangeButton()
    {
        //TODO Datenbankaktualisierung
        changeButtonBool = !changeButtonBool;
    }
}

