<footer>
    <div class="container">
    <a href="Kontakt">Kontakt</a> |
    <a href="Impressum">Impressum</a> |
    <a href="datenschutzerklärung">Datenschutzerklärung</a> |
    <a href="cookies">Cookies</a>
    </div>
</footer>
@code {

}
