@page "/Kontoverwaltung"

@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager _navigationManager

<h3>Wichtige Informationen</h3> <br>



<div class="container mt-auto">
    <h4>AccountID: @RegistrierungA.userName</h4>
    <h4>Ihr QR-Code:  </h4>
    <img src="assets/K-QR.png" class="img" title="logo image">

    <p><br>Ihr Konto wird 30 Tage nach der Deaktivierung unwiderruflich gelöscht.</p>
    <button class="btn" type="button" onclick="@ChangeButton" id="button1">@button1</button>
    
</div>

<div class="container mt-auto">
    <h1>Bestellübersicht</h1>

</div>
<br><br>

@code {
    bool changeButtonBool { get; set; } = true;

    string button1 => changeButtonBool ? "Konto deaktivieren" : "Konto aktivieren";

    void ChangeButton()
    {
        //TODO Datenbankaktualisierung
        changeButtonBool = !changeButtonBool;
    }
}

