html, body {
    /*background-color: #C7FFD5;*/
    padding: 0px;
    margin: 0px;
}
<<<<<<< HEAD:Shared/Registrierung.razor.css
=======

li {
    text-align: right;
}
>>>>>>> dev:src/y4f/Shared/Registrierung.razor.css
