@page "/RegistrierungA"
@layout Registrierung

<div class="container col-lg-5 col-md-9 col-sm-12 d-flex flex-column " id="content">
    <p>Benutzername:</p>
        <input type="text" class="form-control" id="name" name="name">

    <p>Passwort:</p>
        <input type="text" class="form-control" id="password" name="password">

    <form id="button" action="Bestelluebersicht">
        <input type="submit" value="Login" class="btn"> 
    </form>

</div>
@code {

}
