@page "/Yummy-Punkte"

<body>
    <div class="container col-lg-5 col-md-9 col-sm-12 d-flex flex-column " id="content">
        <h4><b>Ihre Yummy-Punkte</b></h4>
        
        <div class="img" >
            @for(int i = 0; i < 10; i++)
            {
                <img src="assets/White-Circle.png ">
            }
            <br>
            </div>
        
            <p class="text">Bei einem Mindestbestellwert von 8€ erhalten Sie ein Yummy-Punkt. Ab der 10ten Bestellung gibt es einen Rabatt zu Ihrer nächsten Bestellung.</p>
        
        <div class="button">
            <form id="button1" action="/">
                <input type="submit" value="Zurück" class="btn">
            </form>
        </div>

    </div>

</body>
@code {

    
}
